
    <div class="title_wrapper">
        <span class='index_title'> DRONES <br>UNITED </span><br>
        <span class="index_motto">A community for drone users in Miami</span>
        <br>
        <a data-toggle="collapse" <a href="/" class="btn btn-primary btn-xl page-scroll">Get Started</a>
    </div>



<div class="row video-container">
<!--     <div class="video-overlay"> -->
        <video autoplay loop muted poster="media/background-drones_pic.img" class="video">
            <source src="assets/home_page.webm" type="video/webm">
            <source src="assets/home_page.mp4"  type="video/mp4">
        </video>
 <!--    </div> -->
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 text-center">
            <div class="feature">
            <img class="responsive-image outcome-focused", src="/assets/review_white.png">
                <h3>Customize</h3>
                <p class="text-muted">Filter your search according to skill level</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 text-center">
            <div class="feature">
                <img class="responsive-image outcome-focused", src="/assets/map_white.png">
                <h3>Locate</h3>
                <p class="text-muted">Scope your spot in Miami</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 text-center">
            <div class="feature">
                <img class="responsive-image outcome-focused", src="/assets/button_white.png">
                <h3>Review</h3>
                <p class="text-muted">Read reviews or leave reviews pertaining to each location</p>
            </div>
        </div>
    </div>
</div>

<!-- RESPONSIVE PHOTO GALLERY -->
 <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="//splashbase.s3.amazonaws.com/unsplash/regular/photo-1430916273432-273c2db881a0%3Fq%3D75%26fm%3Djpg%26w%3D1080%26fit%3Dmax%26s%3Df047e8284d2fdc1df0fd57a5d294614d">
                        <img src="/assets/controlling_dji.jpg" class="img-responsive" alt="Image 1">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="//splashbase.s3.amazonaws.com/getrefe/regular/tumblr_nqune4OGHl1slhhf0o1_1280.jpg">
                        <img src="/assets/drone_white_dji.jpg" class="img-responsive" alt="Image 2">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="//splashbase.s3.amazonaws.com/unsplash/regular/photo-1433959352364-9314c5b6eb0b%3Fq%3D75%26fm%3Djpg%26w%3D1080%26fit%3Dmax%26s%3D3b9bc6caa190332e91472b6828a120a4">
                        <img src="/assets/set_up.jpg" class="img-responsive" alt="Image 3">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
               <!--  <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="//splashbase.s3.amazonaws.com/lifeofpix/regular/Life-of-Pix-free-stock-photos-moto-drawing-illusion-nabeel-1440x960.jpg">
                        <img src="/assets/miami_view.jpg" class="img-responsive" alt="Image 4">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="//splashbase.s3.amazonaws.com/lifeofpix/regular/Life-of-Pix-free-stock-photos-new-york-crosswalk-nabeel-1440x960.jpg">
                        <img src="//splashbase.s3.amazonaws.com/lifeofpix/regular/Life-of-Pix-free-stock-photos-new-york-crosswalk-nabeel-1440x960.jpg" class="img-responsive" alt="Image 5">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="//splashbase.s3.amazonaws.com/lifeofpix/regular/Life-of-Pix-free-stock-photos-clothes-exotic-travel-nabeel-1440x960.jpg">
                        <img src="//splashbase.s3.amazonaws.com/lifeofpix/regular/Life-of-Pix-free-stock-photos-clothes-exotic-travel-nabeel-1440x960.jpg" class="img-responsive" alt="Image 6">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a> -->
                <!-- </div>
            </div> -->
        </div>
    </section>

<div class="contaier">
  <div class="row">
    <div class="col-md-4">
        <img class="drone-image",src="/assets/flying_building.jpg"></div>
      <div class="col-md-4">
        <p><strong> 
        WHY WE LOVE DRONES</strong></p>
      </div>
  </div>
</div>

<div class="contaier">
  <div class="row">
      <div class="col-md-4">
      <img class="responsive-image outcome-focused", src="/assets/blue_logo.png">
      They can elevate those Facebook and Instagram photos to a whole new level</div>

      <div class="col-md-4">
      <img class="responsive-image outcome-focused", src="/assets/blue_logo.png">
      They monitor our planet for climate change and endangered wildlife</div>

      <div class="col-md-4">
      <img class="responsive-image outcome-focused", src="/assets/blue_logo.png">
      You can see the world from a different perspective</div>
    </div>
</div>

<!-- CODE STAYS IN THE BOTTOM-TO MAKE IT RUN FASTER-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
    <script src="js/scripts.js"></script>