
    <div class="title_wrapper">
        <span class='index_title'> DRONES <br>UNITED </span><br>
        <span class="index_motto">A premier community for drone users in Miami</span>
        <br>
        <a href="/users/sign_up" class="btn btn-primary btn-xl">Get Started</a>
    </div>



<div class="row video-container">
<!--     <div class="video-overlay"> -->
        <video autoplay loop muted poster="/assets/background-drones_pic.img" class="video">
            <source src="assets/home_page.webm" type="video/webm">
            <source src="assets/home_page.mp4"  type="video/mp4">
        </video>
 <!--    </div> -->
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 text-center">
            <div class="feature">
            <img class="responsive-image outcome-focused", src="/assets/review_white.png">
                <h3>Filter</h3>
                <p class="text-muted">Customize your search according to your skill level</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 text-center">
            <div class="feature">
                <img class="responsive-image outcome-focused", src="/assets/map_white.png">
                <h3>Locate</h3>
                <p class="text-muted">Scope the best spot to fly your drone</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 text-center">
            <div class="feature">
                <img class="responsive-image outcome-focused", src="/assets/button_white.png">
                <h3>Review</h3>
                <p class="text-muted">Read reviews or leave reviews pertaining to each location</p>
            </div>
        </div>
    </div>
</div>

<!-- RESPONSIVE PHOTO GALLERY -->
 <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="//splashbase.s3.amazonaws.com/unsplash/regular/photo-1430916273432-273c2db881a0%3Fq%3D75%26fm%3Djpg%26w%3D1080%26fit%3Dmax%26s%3Df047e8284d2fdc1df0fd57a5d294614d">
                        <img src="/assets/controlling_dji.jpg" class="img-responsive" alt="Image 1">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="//splashbase.s3.amazonaws.com/getrefe/regular/tumblr_nqune4OGHl1slhhf0o1_1280.jpg">
                        <img src="/assets/drone_white_dji.jpg" class="img-responsive" alt="Image 2">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="//splashbase.s3.amazonaws.com/unsplash/regular/photo-1433959352364-9314c5b6eb0b%3Fq%3D75%26fm%3Djpg%26w%3D1080%26fit%3Dmax%26s%3D3b9bc6caa190332e91472b6828a120a4">
                        <img src="/assets/set_up.jpg" class="img-responsive" alt="Image 3">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
    </section>

<div class="contaier">
  <div class="row">
    <div class="col-md-4">
        <img class="drone-image",src="/assets/flying_building.jpg"></div>
      <div class="col-md-4">
        <p><strong> 
        WHY WE LOVE DRONES</strong></p>
      </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="color_row">
          <div class="col-md-4">
          <img class="responsive-image outcome-focused", src="/assets/blue_logo.png">
          They can elevate those Facebook and Instagram photos to a whole new level</div>

          <div class="col-md-4">
          <img class="responsive-image outcome-focused", src="/assets/blue_logo.png">
          They monitor our planet for climate change and endangered wildlife</div>

          <div class="col-md-4">
          <img class="responsive-image outcome-focused", src="/assets/blue_logo.png">
          You can see the world from a different perspective</div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-lg-4 col-sm-6">
            <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="//splashbase.s3.amazonaws.com/unsplash/regular/photo-1430916273432-273c2db881a0%3Fq%3D75%26fm%3Djpg%26w%3D1080%26fit%3Dmax%26s%3Df047e8284d2fdc1df0fd57a5d294614d">
                <img src="/assets/bayfront_amp.jpg" class="img-responsive" alt="Image 1">
                <div class="gallery-box-caption">
                    <div class="gallery-box-content">
                        <div>
                        <i class="icon-lg ion-ios-search"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    <div class="col-lg-4 col-sm-6">
        <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="//splashbase.s3.amazonaws.com/getrefe/regular/tumblr_nqune4OGHl1slhhf0o1_1280.jpg">
            <img src="/assets/surfside.jpg" class="img-responsive" alt="Image 2">
            <div class="gallery-box-caption">
                <div class="gallery-box-content">
                    <div>
                        <i class="icon-lg ion-ios-search"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    <div class="col-lg-4 col-sm-6">
        <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="//splashbase.s3.amazonaws.com/unsplash/regular/photo-1433959352364-9314c5b6eb0b%3Fq%3D75%26fm%3Djpg%26w%3D1080%26fit%3Dmax%26s%3D3b9bc6caa190332e91472b6828a120a4">
            <img src="/assets/miamibeach.jpg" class="img-responsive" alt="Image 3">
                <div class="gallery-box-caption">
                    <div class="gallery-box-content">
                        <div>
                            <i class="icon-lg ion-ios-search"></i>
                        </div>
                    </div>
                </div>
            </a>
    </div>
</div>



<!--WILL IMPLEMENT -->
<class="container-fluid">
    <div class="col-lg-4 col-sm-4">
        <p><b>Drone Regulations</b></p></h1> <br>
        <p> All drones must be registered with the Federal Aviation could result in a civil penalty of $500</p>
    </div>
    <div class="col-lg-4 col-sm-4">
        <p>Drones are prohibited from being flown within one mile of any Miami-Dade County airport</p>
        <p> Don’t be careless or reckless with your drone </p>
        <p> Do not fly drones in National Parks </p>
    </div>
    <div class="col-lg-4 col-sm-4">
        <p> Don’t fly drones below 400 feet </p>
        <p> Don’t fly near people or stadiums </p>
        <p> Don’t fly an aircrafts that weight more than 55 lbs </p>
    </div>
       <div class="col-lg-4 col-sm-4"> </div>

</div>



<!--WILL IMPLEMENT -->

<!-- Florida has the dubious distinction of being the state with the
third most drone incidents of the 194 nationwide incidents reported
to the Federal Aviation Administration (FAA) last year. <br> -->

<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <img src="" alt="">
          <p> Made by Sarah Abogabir with love @Ironhack<p/>
        </div>
      </div>
    </div>
</footer>




<!-- CODE STAYS IN THE BOTTOM-TO MAKE IT RUN FASTER-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
    <script src="js/scripts.js"></script>