
<h1> Drone Regulations </h1> <br>

All drones must be registered with the Federal Aviation Administration (FAA). <br>
You must contact the airport and FAA control tower (954.641.6000) before flying within five miles of any airport. <br>

Drones are prohibited from being flown within one mile of any Miami-Dade County airport. <br>
Unauthorized use of a drone in Miami-Dade County shall result in a civil penalty of $500. <br>

Florida has the dubious distinction of being the state with the third most drone incidents of the 194 nationwide incidents reported to the Federal Aviation Administration (FAA) last year. <br>

Currently, you cannot fly drones within 5 miles of airports, unless you contact the airport and control tower before flying <br>

<li> Do not fly drones in National Parks </li>
<li> Don’t fly drones below 400 feet </li>
<li> Don’t fly near people or stadiums </li>
<li> Don’t fly an aircrafts that weight more than 55 lbs </li>
<li> Don’t be careless or reckless with your drone </li>
