main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title_wrapper{
  padding:30px 20px;
  background-color: rgba(0,0,0,0.5);
  margin-left:auto; 
  margin-right:auto; 
}

.index_title { 
  font-family:'Russo One', sans-serif;
  color: white;
  font-size: 80px;
  font-weight: bold; 
  font-position: center;
}


.index_motto {
  font-family: Raleway;
  color:#fff;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 38.5px;
}

.background {
    background: url('pattern.png');
    background-repeat: repeat;
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -8;
}

.video {
  background-size:cover;
  background-position:bottom;

}

element.style {
  background: url('pattern.png');
  background-repeat:repeat;
  height: 100%;
  width: 100%;
  opacity: 0.2;
  position: absolute;
  top: 0;
  background-size:cover;
  opacity: 0.3;
  height: 640px; 
  width: 100%; 
}

body {
  font-family: 'Raleway';
  color: #fff;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  margin: 0;
}


.video-overlay {
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  z-index: -99;
}
