
//------------------Map here needs to get fixed---------------------
.map-wrapper {
  //vw:view port width
  width: 100vw;
  //vh view port height
  height: 100vh;
}

#map {
  height: 100vh;
  position: relative;
}

canvas {
  position:relative !important;
  height: 200% !important;
  width:80% !important;
}


//-----------

.image {
    width: 250px;
    height: 250px;
}

h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;

}

body, button{
  font-family: 'Raleway', sans-serif;
}

.controls {
    padding: 1.5%;
    background: #A9ADAB;
    color: #f5f5f5;
}

label{
  font-weight: 800;
  margin: 0 .4em 0 0;
}

button{
  display: inline-block;
  padding: .4em .8em;
  background: #666;
  border: 0;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
}

button.active{
  background: #68b8c4;
}

button:focus{
  outline: 0 none;
}

button + label{
  margin-left: 1em;
}

.container{
  padding: 2% 2% 0;
  text-align: center;
  // background: #68b8c4;
  
}

.container:after{
  content: '';
  display: inline-block;
  width: 100%;
}

.container .mix,
.container .gap{
  display: inline-block;
  width: 49%;
}

.container .mix{
  text-align: left;
  background: #03899c;
  margin-bottom: 2%;
  display: none;
}

.container .mix.category-1{
  border-top: 2px solid limegreen;
}

.container .mix.category-2{
  border-top: 2px solid yellow;
}

.container .mix:after{
  content: attr(data-myorder);
  color: white;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  padding: 4% 6%;
  font-weight: 700;
}

.container .mix:before{
  content: '';
  display: inline-block;
  padding-top: 60%;
}

@media all and (min-width: 600px){
  .container .mix,
  .container .gap{
  width: 32%;
  }
}

@media all and (min-width: 800px){
  .container .mix,
  .container .gap{
    width: 23.5%;
  }
}

-------------------------------Review and comment box css


body {
  padding-top: 70px;
}
.btn-grey{
  background-color:#D8D8D8;
  color:#FFF;
}
// // .rating-block{
// //   background-color:#FAFAFA;
// //   border:1px solid #EFEFEF;
// //   padding:15px 15px 20px 15px;
// //   border-radius:3px;
// }
.bold{
  font-weight:700;
}
// .padding-bottom-7{
//   padding-bottom:7px;
// }
.review-block{
  background-color:#FAFAFA;
  border:1px solid #EFEFEF;
  padding:15px;
  border-radius:3px;
  margin-bottom:15px;
}
.review-block-name{
  font-size:12px;
  margin:10px 0;
}
.review-block-date{
  font-size:12px;
}
.review-block-rate{
  font-size:13px;
  margin-bottom:15px;
}
.review-block-title{
  font-size:15px;
  font-weight:700;
  margin-bottom:10px;
}
.review-block-description{
  font-size:13px;
}



