@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,800);

//picture
// .img-wrapper{
//   background-size: cover;
//    background-position: center center;
//    background-repeat: no-repeat;
//    padding: 10px 0;
// }




// #leftCol {
//     background: #ddd;
//     position: absolute;
//     bottom: 0;
//     right: 0;
//     left: 0;
//     top: 0;
//     right: 10%;
//     overflow: hidden;
//     padding: 2em;
// }
// #rightCol {
//     background: #bbb;
//     position: absolute;
//     left: 40%;
//     top: 0;
//     bottom: 0;
//     right: 0;
//     overflow-y: auto;    
//     padding: 2em;
// }
// .description_font{
//   font-weight: bold;
//   color:#222;
// }

// p {
//     margin: 60px;
//     color: black;
// }


//------------------------------------------------------
.img-wrapper{
	// padding:5px;
	margin-top:8px;
}

// .map-wrapper{
// 	padding: 25px;
// }

canvas {
  position:relative !important;
  height: 300% !important;
  width:100% !important;
}

.location_font{
	font-family:'Raleway', Arial, serif;
	font-weight: 400;
	font-size: 30px;
  padding: 50px 0;
}

.container-color{
	background:#337AB7;
}

.img-desc{
  padding-bottom: 50px;
}

.img-location{
  margin-top: 30px;
}

// -------------------------------Review and comment box css


.btn-grey{
  background-color:#D8D8D8;
  color:#FFF;
}

.bold{
  font-weight:700;
}

.map-section{
  background: #151515;
}

.review-block {
    background-color: #171414;
    border: 1px solid transparent;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 45px;
    overflow: scroll;
    height: 320px;
}


.review-block-name{
  font-size:12px;
  margin:10px 0;
}
.review-block-date{
  font-size:12px;
}
.review-block-rate{
  font-size:13px;
  margin-bottom:15px;
}
.review-block-title{
  font-size:15px;
  font-weight:700;
  margin-bottom:10px;
}
.review-block-description{
  font-size:13px;
}



