@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,800);

.img-wrapper{
	padding:15px;
	margin-top:8px;
}

.map-wrapper{
	padding: 25px;
}

canvas {
  position:relative !important;
  height: 300% !important;
  width:100% !important;
}

.location_font{
	font-family:'Raleway', Arial, serif;
	font-weight: 400;
	font-size: 30px;
}

.container-color{
	background:#337AB7;
}