
input {
	background: #35B68C;
	font-size: 19px;
	width: 250px;
	margin-top: 15px;
	height: 45px;
	border: 1px solid gray;
	background: transparent;
	padding: 0 0 0 10px;
}

.signup_button{
	-webkit-appearance: button;
    cursor: pointer;
    border-radius: 20px;
    background: #35B68c;
}

a {
    color: #32905C;
}
