<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
        <div class="map-wrapper"> 
            <div id="map">
                <script>
                    console.log("SSDFSDFLSFKSDJFKSJDFSDFJKSDJFLJDLJLJFJDLSJFLSDJ")
                    var map = new Airmap.Map('336d16157d9c1e7ebc0d474c2271b879078ab6b72f34ede439b6e97c5f2aedbd',{
                        container: 'map',
                        center: [25.7822569,-80.3711658],
                        zoom: 0,
                        theme: 'standard',
                        useLocation: true,
                        createFlights: true,
                        layers: ['airports_recreational', 'class_b', 'national_parks', 'tfrs'],
                        // interactive: false
                    });
                </script>
            </div>
        </div>
        </div>
    </div>


